{% extends "base.html" %}

{% block title %}
    重置密码
{% endblock %}

{% block forms %}
    <div style="text-align: center;">
         {% if form.errors %}
            <p>密码不匹配，重新输入<p>
        {% endif %}
    </div>

    <form method="post" action="." class="form-signin" role="form">
 
        {% csrf_token %}
        <table>
            <tr>
                <td colspan="2">
                    <h2 style="text-align: center;">重置密码</h2>
                </td>
            </tr>
            <tr>
                <td>新密码</td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>密码确认</td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="" >重置</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

