{% extends "blogbase.html" %}
{% load staticfiles %}

{% block title %}
      创建文章
{% endblock %}

{% block content %}

<form method="post" action=".">
    <table>
        <tr>
            <td>标题</td>
            <td>{{ article_form.title }}</td>
            <td>发表</td>
            <td><span style="margin-right:auto"></span>{{ article_form.draft }}</td>
            <button type="submit" class="btn btn-primary" style="float: right;">提交</button>
        </tr>
    </table>
                {% csrf_token %}
                {{ article_form.media }}
                {{ article_form.content }}
    
</form>

{%endblock%}
