{% extends "blogbase.html" %}
{% load staticfiles %}

{% block title %}
    编辑个人信息
{% endblock %}

{% block content %}

<form method="post" action="." enctype="multipart/form-data">
    <table>
        <tr>
            <td>姓名:</td>
            <td>{{user_form.username}}</td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><a href="{% url "password_change" %}">更改密码</a></td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{user_form.email}}</td>
        </tr>
        <tr>
            <td>电话:</td>
            <td>{{profile_form.phone}}</td>
        </tr>
        <tr>
            <td>性别:</td>
            <td>{{profile_form.sex}}</td>
        </tr>
        <tr>
            <td>头像:</td>
            <td>{{profile_form.avatar}}</td>
        </tr>
    </table>
    {% csrf_token %}
<p><input type="submit" value="保存更改"></p>
</form>

{%endblock%}



{% block cusjs %}

<script type="text/javascript">
    $(function(){
        $("#id_email").attr("readonly","readonly");
    })
</script>

{% endblock %}